<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

                           <context:component-scan base-package="rdp.learning.spring" />
                           <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" />

                           <!--
                           <bean id="nf" class="java.text.NumberFormat" factory-method="getCurrencyInstance" />
                           -->

                           <!--
                           <bean id="xmlBuilderFactory" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance" />
                           <bean id="documentBuilder" class="javax.xml.parsers.DocumentBuilder" factory-bean="xmlBuilderFactory" factory-method="newDocumentBuilder" />
                           -->
                           <!--
                               <bean id="redSox" class="rdp.learning.spring.entities.RedSox" />
                               <bean id="cubs" class="rdp.learning.spring.entities.Cubs" />
                               <bean id="game" class="rdp.learning.spring.entities.BaseballGame"> 
                               <property name="awayTeam" ref="redSox" />
                               <property name="homeTeam" ref="cubs" />
                               <property name="dataSource" ref="dataSource" />
                               </bean>
                           -->
</beans>
